.mobile_model{
    margin: 0 auto;
    margin-top: 100px;
    width:326px;
    height:750px;
    overflow:auto;
}

/*滚动条样式*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
.mobile_model::-webkit-scrollbar  
{  
    width: 6px;  
    height: 100%;  
    background-color: #fff;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
.mobile_model::-webkit-scrollbar-track  
{
    -webkit-box-shadow: inset 0 0 6px #fff;  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
.mobile_model::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #6ea4ca;  
}
#services_box{
    margin-top: 35px;
    width:100%;
    background-color: #fff;
}
#services_box .services_title{
    width:78%;
    margin:0 auto;
    text-align: center;
}
#services_box .services_title p{
    margin-bottom: 5px;
    font-size: 2rem;
    color:#6ea4ca;
}
#services_box .services_title div{
    margin:0 auto;
    margin-bottom: 30px;
    width: 30px;
    height: 3px;
    background-color: #6ea4ca;
}
#services_box .services_title p:nth-of-type(2){
    margin-bottom: 50px;
    font-size: 1.4rem;
}
#services_box .back{
    display:none;
    margin:0 auto;
    width:75%;
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: #6ea4ca;
}
#services_box .back::before{
    content:"";
    display:inline-block;
    vertical-align: middle;
    width:16px;
    height:16px;
    background:url(../../images/mobile_model-1/background/Arrow_icon.png) no-repeat;
    background-position-y:-1px;
    background-size: 50%;
}
#services_box .services_list li{
    margin:0 auto;
    width:75%;
    border-bottom: 1px solid #6ea4ca;
    margin-bottom: 50px;
}
#services_box .services_list li div:nth-of-type(1){
    width:100%;
}
#services_box .services_list li div:nth-of-type(2){
    margin-top: 15px;
    width: 100%;
}
#services_box .services_list li div:nth-of-type(2) p:nth-of-type(1){
    font-size: 1.6rem;
    color:#2e4f6e;
}
#services_box .services_list li div:nth-of-type(2) p:nth-of-type(1)::after{
    content:"";
    display: inline-block;
    margin-left: 5px;
    width:16px;
    height:16px;
    background:url(../../images/mobile_model-1/background/Arrow_icon.png) no-repeat;
    background-position-y: -17px;
}
#services_box .services_list li div:nth-of-type(2) p:nth-of-type(1).change::after{
    display:none;
}
#services_box .services_list li div:nth-of-type(2) p:nth-of-type(2){
    margin-top: 10px;
    font-size: 1.6rem;
    color:#0c3c60;
}
#services_box .services_list li div:nth-of-type(2) .hidden_text{
    display:none;
    margin-top: 10px;
    font-size: 1.4rem;
    color:#0c3c60;
}
#services_box .services_list li button{
    margin-top: 20px;
    margin-bottom: 30px;
    border:none;
    outline: none;
    padding: 10px 20px;
    max-width: 60%;
    min-width: 30%;
    background-color: #6ea4ca;
    color:#fff;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
